.blockone img{
  width: 30%;
  height: auto;
}


.blocktwo{
  background-color: #9CA5B2;
  color: #FFFFFF;
}

.blocktwo h1{
  color: #FFFFFF;
}

.blocktwo p{
  color: #FFFFFF;
}
/* .blocktwo a{
  color: #FFFFFF;
} */

.post h3 a{
  color: #FFFFFF;
}

.blockthree{
  background-image: url("../img/topography.png");
  background-attachment: fixed;
}

/* .footer__block{
  background-color: #73877B;
} */

.box{
  background-color: transparent;
}

.lead{
  color: #999999;
}

.footer__block{
  background-color: #9CA5B2;
}

.footer__block p,.footer__block i,.footer__block p a,.footer__block h4{
  color: #FFFFFF;
}
